a {
    text-decoration: none;
    color: inherit;
}



/* BACKGROUND IMAGES */


/* Patterns */

#pattern-1 {
    position: relative;
    color: white;
    z-index: 1; 
}

#pattern-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/pattern-1.png');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

#pattern-2 {
    position: relative;
    color: black;
    z-index: 1; 
}

#pattern-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/pattern-2.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

#pattern-3 {
    position: relative;
    color: white;
    z-index: 1; 
}

#pattern-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/pattern-3.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

/* Image Manipulation */

#filter {
    position: relative;
    color: white;
    z-index: 1; 
}

#filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/filter.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#sorting {
    position: relative;
    color: white;
    z-index: 1; 
}

#sorting::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/sorting.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#resizing {
    position: relative;
    color: white;
    z-index: 1; 
}

#resizing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/resizing.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#combining {
    position: relative;
    color: white;
    z-index: 1; 
}

#combining::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/combining.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#glitch {
    position: relative;
    color: black;
    z-index: 1; 
}

#glitch::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/glitch.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#collage {
    position: relative;
    color: black;
    z-index: 1; 
}

#collage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/collage.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#dithering {
    position: relative;
    color: black;
    z-index: 1; 
}

#dithering::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/dithering.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

/* Sound */

#amplitude {
    position: relative;
    color: white;
    z-index: 1; 
}

#amplitude::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/amplitude.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#noise-generator {
    position: relative;
    color: white;
    z-index: 1; 
}

#noise-generator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/noise-generator.png');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

/* Agents */

#dvd {
    position: relative;
    color: white;
    z-index: 1; 
}

#dvd::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/dvd.png');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

#directions {
    position: relative;
    color: black;
    z-index: 1; 
}

#directions::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/directions.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

/* L-Systems */

#fractal {
    position: relative;
    color: black;
    z-index: 1; 
}

#fractal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/fractal.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

#bush {
    position: relative;
    color: white;
    z-index: 1; 
}

#bush::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/bush.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#triangles {
    position: relative;
    color: white;
    z-index: 1; 
}

#triangles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/triangles.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

/* Markov chains */

#shakespeare {
    position: relative;
    color: white;
    z-index: 1; 
}

#shakespeare::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/shakespeare.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

#word-cloud {
    position: relative;
    color: white;
    z-index: 1; 
}

#word-cloud::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/word-cloud.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

/* Game of life */

#game-of-life {
    position: relative;
    color: white;
    z-index: 1; 
}

#game-of-life::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background/game-of-life.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}